<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ $op := . }}<title>{{ $op }}回答</title>
    <script src="../../../../src/js/answer.js"></script>
</head>
<body>
<label for="content">正文：</label>
<div>
    <textarea name="content" id="content" cols="30" rows="10"></textarea>
</div>
<div>
    {{ if eq $op "发布" }}
    <button onclick="sendAnswer()">发布</button>
    {{ else }}
    <button onclick="modifyAnswer()">修改</button>
    <button onclick="deleteAnswer()">删除</button>
    <script>getAnswerContent()</script>
    {{ end }}
</div>
</body>
</html>