<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录你的账户</title>
    <script src="/src/js/user.js"></script>
</head>
<body>
<p>登录</p>
<p id="prompt"></p>
<form action="" method="post">
    <div>
        <label for="username">用户名:</label>
        <input type="text" name="username" id="username" required>
    </div>
    <div>
        <label for="password">密码：</label>
        <input type="password" name="password" id="password" required>
    </div>
    <div>
        <button type="button" onclick="login()">登录</button>
    </div>
</form>
</body>
</html>