<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>修改问题</title>
    <script src="../src/js/question.js"></script>
</head>
<body>
<label for="title">标题：</label>
<div>
    <input type="text" name="title" id="title">
</div>
<label for="content">正文：</label>
<div>
    <textarea name="content" id="content" cols="30" rows="10"></textarea>
</div>
<div>
    <label for="permission">可见范围：</label>
    <select name="permission" id="permission">
        <option value=1>Student</option>
        <option value=2>Guest</option>
    </select>
</div>
<div>
    <button onclick="modifyQuestion()">发布</button>
</div>
</body>
</html>