<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>注册你的账户</title>
  <script src="src/js/user.js"></script>
</head>
<body>
  <p>注册账号</p>
  <form action="" method="post">
    <div>
      <label for="username">用户名:</label>
      <input type="text" name="username" id="username" required>
    </div>
    <div>
      <label for="email">邮箱：</label>
      <input type="email" name="email" id="email" required>
    </div>
    <div>
      <label for="password">密码：</label>
      <input type="password" name="password" id="password" required>
    </div>
    <div>
      <button type="button" onclick="register()">注册</button>
    </div>
  </form>
</body>
</html>